<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>给通过给同一个元素的 key 特性设置不同的状态</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
</head>
<style>
    .component-fade-enter-active,
    .component-fade-leave-active {
        transition: opacity .3s ease;
    }
    
    .component-fade-enter,
    .component-fade-leave-active {
        opacity: 0;
    }
</style>

<body>
    <script src="http://cdn.bootcss.com/vue/2.0.7/vue.js"></script>
    <div id="example">
        <input type="radio" id="one" value="true" v-model="isEditing">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="false" v-model="isEditing">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <br>

        <br>
        <transition>
            <button v-bind:key="isEditing">
                {{isEditing}}
            </button>
        </transition>
    </div>

    <script>
        new Vue({
            el: '#example',
            data: {
                view: 'v-a',
                picked: 'One',
                docState: 'saved',
                isEditing: true
            },
            computed: {
                buttonMessage: function() {
                    switch (docState) {
                        case 'saved':
                            return 'Edit'
                        case 'edited':
                            return 'Save'
                        case 'editing':
                            return 'Cancel'
                    }
                }
            },
            components: {
                'v-a': {
                    template: '<div>Component A</div>'
                },
                'v-b': {
                    template: '<div>Component B</div>'
                }
            }
        })
    </script>
</body>

</html>